/* General Content Area Styles */
.site-content {
  margin-top: 2rem;
  &.needs_flush_header {
    margin-top: 0;
  }
  .content-area {

  }
}

/* Sidebar Styles */
aside#secondary.widget-area {
// padding-top: 1rem;
}

/* Extended Page Layouts */
section.layout-section {
  margin-bottom: 2rem;
}

/* Comments Styles */
.vcard {
  border: 0;
}

div.comments-area {
  ol.comment-list {
    margin-left: 0;
    > li {
      padding: 0.25rem;
      text-indent: 0;
      &:before {
        content: initial;
      }
      ol.children {
        padding: 0;
        > li {
          padding: 0.25rem;
          text-indent: 0;
          &:before {
            content: initial;
          }
        }
      }
    }
  }
  .comment-metadata {
    time {
      font-style: italic;
      font-size: 70%;
    }
  }
  .comment-body {
    padding: 1rem;
    border-left: 1px solid $secondary-color;
  }
}