footer.site-footer {
	width: 100%;
	padding: 2rem 0;
	background-color: $primary-color;
	border-top: 2px solid $secondary-color;
	.site-contact {
		address {
		}
	}
	.site-info {
		margin-top: 1rem;
		padding-top: 1rem;
		border-top: 1px solid $primary-color;
		.site-copy {
			text-align: center;
			@include breakpoint(medium up){
				text-align: left;
			}
		}
		.site-design {
			text-align: center;
			@include breakpoint(medium up){
				text-align: right;
			}
		}
	}
}