header.site-header {
	width: 100%;
	background-color: $white;
	padding: 1rem 0 0;
	.site-contact {
		text-align: right;
	}
	.coffee-tab-wrapper {
		position: fixed;
		top: 15rem;
		right: 0;
		z-index: 999;
		#coffee-tab-content-wrapper {
			position: relative;
			float: left;
			display: none;
			opacity: inherit;
			filter: inherit;
			&.open {

			}
			#coffee-tab-content {
				width: 26rem;
				margin-right: 3rem;
				padding: 1rem;
				color: $white;
				background-color: #3b3c3e;
				background-color: rgba(59,60,62,0.9);
			}
			.coffee-tab-content-arrow {
				width: 0;
				height: 0;
				position: absolute;
				left: 26rem;
				top: 1rem;
				border-top: 0 solid transparent;
				border-bottom: 2rem solid transparent;
				border-left: 2rem solid $primary-color;
				border-left: 2rem solid rgba($primary-color,0.9);
			}
		}

		#coffee-tab-toggle {
			cursor: pointer;
			position: relative;
			float: right;
			background-color: $secondary-color;
			transition: all 0.4s linear;
			background-position: center center;
			background-size: auto;
			background-repeat: no-repeat;
			background-image: url(./images/coffee-empty-icon.png);
			width: 5rem;
			height: 5rem;
			&:hover, &:active {
				background-image: url(./images/coffee-full-icon.png);
				box-shadow: 0 0 10px $primary-color;
			} 
			&.open {
				background-image: url(./images/coffee-full-icon.png);
				background-position: 40%;
				width: 6rem;
				height: 5rem;
			}

		}
	}
}