/* Navigation Styles, extending the Foundation Dropdown Menu */
nav#header-navigation.site-navigation {
	width: 100%;
	margin-top: 1.5rem;
	position: relative;
	ul#primary-menu.menu {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem;
    z-index: 1000;
		@include breakpoint(large up) {
			display: block;
			position: relative;
			top: 0;
			width: auto;
			padding: 0;
		}
		> li.menu-item {
			width: 100%;
			margin: 0;
			padding: 0 1rem;
			@include breakpoint(large up) {
				width: auto;
				margin-right: 1rem;
				padding: 0;
				background: none;
			}
		}
		ul.sub-menu {
			padding: 0;
			@include breakpoint(large up) {
				padding: 1rem;
				z-index: 1000;
			}
			> li.menu-item {
				width: 100%;
				margin: 0;
				padding: 0 1rem;
				@include breakpoint(large up) {
					width: auto;
					padding: 0;
				}
			}
		}
	}
	ul#mobile-menu.menu {
		display: block;
		@include breakpoint(large up) {
			display: none;
		}
	}
	ul.menu {
		list-style: none;
		margin: 0;
		position: relative;
		> li.menu-item {
			margin-right: 1rem;
			display: inline-block;
			position: relative;
			&:before {
				content: '';
			}
			&#primary-menu-toggle-menu-item {
				margin-right: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
	ul.sub-menu {
		list-style: none;
		margin: 0;
		padding: 1rem;
		display: block;
		@include breakpoint(large up) {
			display: none;
			position: absolute;
			width: 250px;
			top: 100%;
			left: -1rem;
		}
		> li.menu-item {
			&:before {
				content: '';
			}
		}
	}
	li.menu-item.menu-item-has-children {
		> a:after, a:visited:after {
			content: "\f107";
			position: relative;
			display: inline-block;
			font-family: fontawesome;
			font-size: 1.25em;
			line-height: 1.5rem;
			margin-left: 0.5rem;
		}
		> a:hover:after, a:active:after {
			color: $anchor-color-hover;
		}
	}
	a {
		text-transform: uppercase;
		display: block;
		width: 100%;
		padding: 0.25rem;
		&:hover, &:active {
			color: $anchor-color-hover;
		}
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		&:hover, &:active {
			color: $anchor-color-hover;
		}
	}

	div.mobile-contact-info {
		ul#contact-menu.menu {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			padding: 1rem;
			color: $white;
			font-size: 1.25rem;
			z-index: 1000;
			a {
				text-transform: none;
			}
		}
	}
}

nav#footer-navigation.site-navigation {
	width: 100%;
	ul.menu {
		margin: 0;
		list-style: none;
		>li:not(.menu-text)>a {
			padding: 0.25rem 0;
		}
		li.menu-item {
			&:before {
			}
		}
	}
	ul.sub-menu {
		display: none;
		list-style: none;
		margin: 0;
		padding: 1rem;
		>li:not(.menu-text)>a {
			padding: 0.25rem 0;
		}
		li.menu-item {
			&:before {
				content: '';
			}
		}
	}
	a {
		text-transform: uppercase;
		&:hover {
			color: $anchor-color-hover;
		}
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}
/* Enabling the old foundation round and radius classes often applied to buttons. */
.round {
	border-radius: $global-round;
}
.radius {
	border-radius: $global-radius;
}
/* Various WordPress Navigation */
.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		@include breakpoint(medium up) {
			float: left;
			text-align: left;
			width: 50%;
		}
	}

	& .nav-next {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		@include breakpoint(medium up) {
			float: right;
			text-align: right;
			width: 50%;
		}
	}
}