/* Import Fonts */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,&subset=latin-ext);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

/* Heading Styles */
h1 {


}
h2 {


}
h3 {
	text-transform: uppercase;
}
h4 {

}
h5 {
	font-weight: $global-weight-semi-bold;
}
h6 {
	text-transform: uppercase;
	font-weight: $global-weight-semi-bold;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
}

a {
	transition: all 0.1s linear;
}


footer.site-footer {
	h1, h2, h3, h4, h5, h6 {
	}
	a {
		&:hover, &:active {
		}
	}
}